/* 通用css样式 */
p,ul,h1,h2,h3,h4,h5,h6,body,a,button,textarea,input{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
	padding:0px;
}
a{
	text-decoration:none;
	color:black;
}
img{
	vertical-align:middle;
}
i{
	font-style:normal;
}
.clear:after{
	content:'';
	display:block;
	clear:both;
}
button{
	border-style:none;
	outline:none;
}
html, body{
	height:100%;
}
html{
	font-size: 100px;
	background-color: #f5f5f5;
}